# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project files
configurations/configuration.pro.json
go.sum
command/go-stunning-garbanzo

.vscode/*
